<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-study:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_study_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc-study/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-study" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.0.7.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>